*{
    margin:0; 
    padding: 0;}


body {background: #d1cbcb;
}

header {
    width: 100%;
overflow:hidden;
display: flex;
min-height: 100px;
background: #B5B2B2;
padding: 5px;
align-items:center;

}


.wrapper {
    width: 80%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

header img {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 0px;
} 

header nav {
    float: right;
    line-height: 50px;
    align-items:end;
}



header nav a { 
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 48px 45px ;
    line-height:15%;
    font-size: 15px;
    font-weight:bold;
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header nav a:hover {
 background: #00FFFF;
 border: 25px ;
   border-radius: 20px;

   

}

#boton-carro { 
    padding: 10px; 
background: #B5B2B2;

background-color: #B5B2B2;
margin-left: 50px;
margin-top: 0px;
  } 
 
  #boton-carro:hover { 
    padding: 10px; 
    background: #00ffff; 
    color: white; 
  }

.dropdown-item {
    line-height: 10px;
   
    border-color: #00FFFF;

}
